.lng-select {
  display: flex;
  align-items: center;
  column-gap: 8px;

  & > button {
    display: flex;
    align-items: center;
    cursor: pointer;
    filter: grayscale(100%);

    & > span {
      line-height: 1;
    }

    &.lng-selected {
      filter: grayscale(0);
    }
  }
}
